*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,html{
  font-size: 62.5%;
}
#root{
  display: flex;
  flex-direction: column;
  height: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  height: 100vh;
}

h1{
  font-size:2rem;
}
h4{
  font-size: 1.5rem;
}
a{
  font-size:1.6rem;
}

main {
  height: 100%;
  background: url('/Banner1.jpg');
  background-position: center;
  background-size: cover;
}

a{
color: #333;
text-decoration: none;
}

/* -----------------------------navbar */
.header{
  background: #D1DAE1;
  display: flex;
  align-items: center;
}

.header ul {
  display: flex;
  flex:1;
}

.header ul a{
  color: #47444E;
  padding: 2rem;
  border: 0.2rem solid #A8C5DD;
} 

.header ul a:hover{
background-color: #14397f;
color: orangered;
}

.menu {
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 50;
  top: -2.5rem;
  width: 100%;
}

.menu a{
margin-right: 20%;
}

.menu ul {
  width: 100%;
  padding: 1rem;
  background-color: #DEE1E4;
}
/*Media */
@media only screen and (max-width: 600px) {
  .header{
    text-align: center;
    flex-direction: column;
    align-items: stretch;
  }
  .header ul {
    justify-content: space-between;
  }
  .header ul a{
    flex:1;

    font-size: 1rem;
    padding: 1rem;
  }
 }

/* -----------------------------Footer */

.footbar{
bottom: 0;
position: fixed;
width: 100%;
background: #14397f;
border-color: gray;
padding: 20px;
}

.footerLinks{
flex-direction: column;
text-align: left;
color: orangered;
display: block;
padding: 10px;
box-sizing: border-box;

}

/* ---------------------Register */
.Register{

text-align: center;

}


.registerForm{

display: block;
align-content: center;


}

/* ----------------------------MtwTwitter */
.MtaTwitter{
display: block;
align-items: left;
width: 100%;
height: 50%;
box-sizing: border-box;
border-color: orangered;
background-color: orchid;
}

.App{
  display:flex;
  flex-direction: column;
  height: 100%;
}

/* trainComp-------------------------------- */
.trainComp{
background-color: white;
display: flex;
flex-direction: row;
width: 10%;
color: #14397f;
align-items: center;

}

/* 
train menu styling */
.trainMenu{
  
  font-size: 15px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  align-items: center;
 
  
}

.traintMenu.select{
  width: 100%;
  background:url('/home/richarda/Bootcamp/project_MTA/frontend_app/public/arrow.png') no-repeat;
  background-position:80% center;

}

.trainMenu .select select{
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 10;
  font-size: 1em;

}



/* Station---------------------------------------------- */

.stationMenu{
 
  font-size: 15px;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: grid;

}

.stationMenu.select{
  width: 100%;
  background:url('/home/richarda/Bootcamp/project_MTA/frontend_app/public/arrow.png') no-repeat;
  background-position:80% center;

}

.stationMenu .select select{
  line-height: 1;
  border: 0;
  padding: 0;
  border-radius: 0;
  width: 100%;
  position: relative;
  z-index: 10;
  font-size: 1em;
}

.trainTimes {
  display: flex;
  font-size: 15px;
  padding: 0px, 30px, 0px, 30px;
  

}

/* //----------Homepage.js--------------------- */

.userHomepage {

background:rgba(255,255,255,0.5);
display: flex;
flex-direction: column;
align-items: center;
padding: 1.6rem;

}

h1 {
 padding: 10px;
 color: orangered;

} */

.weather {

  display: flex;
  
  background: white;
  border: 10px, blue;
  
}

.notes {


}

.feed {
grid-column: 1;
grid-row: 3;
}
/* -----------------------------------------trainmenu */



/* -----------------------------------------------comment-feed styling */

.Feed{
display: block;
padding: 20px;
list-style: none;
background: white;
width: 50%;
height: 100%;
align-items: center;
font-size: 20px;

}

.Feed-item{
position: relative;
padding-bottom: 20px;
padding-left: 30px;
border-left: 2px solid #e4e8eb;
}